<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.wedpr.components.report.mapper.WedprDatasetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.webank.wedpr.components.dataset.dao.Dataset">
        <id property="datasetId" column="dataset_id" />
        <result property="datasetId" column="dataset_id" />
        <result property="datasetTitle" column="dataset_title" />
        <result property="datasetLabel" column="dataset_label" />
        <result property="datasetDesc" column="dataset_desc" />
        <result property="datasetFields" column="dataset_fields" />
        <result property="datasetVersionHash" column="dataset_version_hash" />
        <result property="datasetSize" column="dataset_size" />
        <result property="datasetRecordCount" column="dataset_record_count" />
        <result property="datasetColumnCount" column="dataset_column_count" />
        <result property="datasetStorageType" column="dataset_storage_type" />
        <result property="datasetStoragePath" column="dataset_storage_path" />
        <result property="ownerAgencyName" column="owner_agency_name" />
        <result property="ownerUserName" column="owner_user_name" />
        <result property="dataSourceType" column="data_source_type" />
        <result property="dataSourceMeta" column="data_source_meta" />
        <result property="visibility" column="visibility" />
        <result property="visibilityDetails" column="visibility_details" />
        <result property="approvalChain" column="approval_chain" />
        <result property="status" column="status" />
        <result property="statusDesc" column="status_desc" />
        <result property="reportStatus" column="report_status" />
        <result property="createAt" column="create_at" />
        <result property="updateAt" column="update_at" />
    </resultMap>

</mapper>
