<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.wedpr.components.admin.mapper.WedprDatasetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.webank.wedpr.components.dataset.dao.Dataset">
        <id column="dataset_id" property="datasetId" />
        <result column="dataset_title" property="datasetTitle" />
        <result column="dataset_label" property="datasetLabel" />
        <result column="dataset_desc" property="datasetDesc" />
        <result column="dataset_fields" property="datasetFields" />
        <result column="dataset_version_hash" property="datasetVersionHash" />
        <result column="dataset_size" property="datasetSize" />
        <result column="dataset_record_count" property="datasetRecordCount" />
        <result column="dataset_column_count" property="datasetColumnCount" />
        <result column="dataset_storage_type" property="datasetStorageType" />
        <result column="dataset_storage_path" property="datasetStoragePath" />
        <result column="owner_agency_name" property="ownerAgencyName" />
        <result column="owner_user_name" property="ownerUserName" />
        <result column="data_source_type" property="dataSourceType" />
        <result column="data_source_meta" property="dataSourceMeta" />
        <result column="visibility" property="visibility" />
        <result column="visibility_details" property="visibilityDetails" />
        <result column="approval_chain" property="approvalChain" />
        <result column="status" property="status" />
        <result column="status_desc" property="statusDesc" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>

</mapper>
