<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.wedpr.components.admin.mapper.WedprJobTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.webank.wedpr.components.admin.entity.WedprJobTable">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="project_name" property="projectName" />
        <result column="owner" property="owner" />
        <result column="owner_agency" property="ownerAgency" />
        <result column="job_type" property="jobType" />
        <result column="parties" property="parties" />
        <result column="param" property="param" />
        <result column="status" property="status" />
        <result column="job_result" property="jobResult" />
        <result column="report_status" property="reportStatus" />
        <result column="create_time" property="createTime" />
        <result column="last_update_time" property="lastUpdateTime" />
    </resultMap>

</mapper>
